<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <style>
    @media print {
        @page {
            size: auto;   /* auto is the initial value */
            margin: 0;  /* this affects the margin in the printer settings */
        }
        html, body {
            width: 210mm;
            height: 297mm;        
        }
    }
    body {
      font-family: Arial, sans-serif;
    }
    .content {
      margin: 10mm;
    }
  </style>
</head>
<body>
  <div class="content">
    <h1>{{ title }}</h1>
    <table>
      {% for item in to_do %}
      <tr><td>{{ item }}</td></tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
