Generate a theme for my day.

{% if previous_themes %}
Here are examples of previous themes:
{% for i in previous_themes %}
- title: {{ i['title'] }}, encapsulation: {{ i["extended_encapsulation"]}}
{% endfor %}
{% endif %}

{% if principles %}
Here are my principles which could be used to help draw out concepts that align
 or are missing from my conceptual lexicon:
{% for i in principles %}
- {{ i }}
{% endfor %}
{% endif %}

{% if comments %}
comments from yesterday that should play a role in building context for the theme:
{{ comments }}
{% endif %}